<div class="content mat-elevation-z8">
  <div class="row">
    <!---<mat-card class="example-card" *ngFor="let items of topItemList">
      <div>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
        </mat-card-header>
        <img mat-card-image src="../../assets/images/{{items.itemImage}}" style="height: 150px;"> 
        <mat-card-content>
          <div class="star-rating-container star-rating-animation" fxLayout="row" fxLayoutAlign="start center" >
            <div>
                <rating [(ngModel)]="items.itemReview" [max]="5"  [readonly]="true" class="star-gold star"></rating>
            </div>
        </div>
        </mat-card-content>
      </div>
    </mat-card>-->
    <div class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <!--<div class="carousel-item active image" data-bs-interval="1000">
          <img src="../../../assets/images/Chicken Biryani.jpg" style="height: 550px; width: 1000px;" alt="...">
        </div>
        <div class="carousel-item image" data-bs-interval="1000">
          <img src="../../../assets/images/Chicken masala.jpg"  style="height: 550px;  width: 1000px;" alt="...">
        </div>
        <div class="carousel-item image" data-bs-interval="1000">
          <img src="../../../assets/images/mutton biryani.jpg" style="height: 550px;  width: 1000px;" alt="...">
        </div>
        <div class="carousel-item image" data-bs-interval="1000">
          <img src="../../../assets/images/Idly.png" style="height: 550px;  width: 1000px;" alt="...">
        </div>
        <div class="carousel-item image" data-bs-interval="1000">
          <img src="../../../assets/images/PlainDosa.jpg"  style="height: 550px;  width: 1000px;" alt="...">
        </div>
        <div class="carousel-item image" data-bs-interval="1000">
          <img src="../../../assets/images/IdlyVada.jpg"  style="height: 550px;  width: 1000px;" alt="...">
        </div>-->
        <div class="carousel-item active card-overlay" data-bs-interval="2000" style="background-image: url('../../../assets/images/Chicken Biryani.jpg');background-size:cover;">
          <div class="card-overlay">
            <div class="white-text text-center">
              <div class="card-block">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem, optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos. Odit
                      sed qui, dolorum!.</p>
             </div>
            </div>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000" style="background-image: url('../../../assets/images/Chicken\ masala.jpg');background-size:cover;">
          <div class="card-overlay">
            <div class="white-text text-center">
              <div class="card-block">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem, optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos. Odit
                      sed qui, dolorum!.</p>
             </div>
            </div>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000" style="background-image: url('../../../assets/images/mutton\ biryani.jpg');background-size:cover;">
          <div class="card-overlay">
            <div class="white-text text-center">
              <div class="card-block">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem, optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos. Odit
                      sed qui, dolorum!.</p>
             </div>
            </div>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000" style="background-image: url('../../../assets/images/Idly.png');background-size:cover;">
          <div class="card-overlay">
            <div class="white-text text-center">
              <div class="card-block">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem, optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos. Odit
                      sed qui, dolorum!.</p>
             </div>
            </div>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000" style="background-image: url('../../../assets/images/PlainDosa.jpg');background-size:cover;">
          <div class="card-overlay">
            <div class="white-text text-center">
              <div class="card-block">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem, optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos. Odit
                      sed qui, dolorum!.</p>
             </div>
            </div>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000" style="background-image: url('../../../assets/images/Vada.png');background-size:cover;">
          <div class="card-overlay">
            <div class="white-text text-center">
              <div class="card-block">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem, optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos. Odit
                      sed qui, dolorum!.</p>
             </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 100px;">
    <div class="col-md-6">
      <div class="col-md-8" style="float: right;">
        <h5 class="small-headings">SELL FOOD ONLINE</h5>
        <h1 class="main-headings">Convert website visitors into frequent food customers.</h1>
        <div class="second-headings">
        <h3>Our online ordering system will help you transform your website into a money-making machine.</h3>
        <h3>No matter how much your business grows, you will always be able to take free unlimited orders with zero costs.</h3>
        <h3>Power your business with our free restaurant online ordering system & you’ll never have to worry about fees or commissions.</h3>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="col-md-8">
    </div>
  </div>
</div>

<div class="row" style="margin-top: 100px;">
  <div class="col-md-6">
    <div class="col-md-8">
    </div>
</div>
<div class="col-md-6">
  <div class="col-md-8">
    <h5 class="small-headings">SELL FOOD ONLINE</h5>
    <h1 class="main-headings">Convert website visitors into frequent food customers.</h1>
    <div class="second-headings">
    <h3>Our online ordering system will help you transform your website into a money-making machine.</h3>
    <h3>No matter how much your business grows, you will always be able to take free unlimited orders with zero costs.</h3>
    <h3>Power your business with our free restaurant online ordering system & you’ll never have to worry about fees or commissions.</h3>
  </div>
</div>
</div>
</div>
</div>





