<div class="content">
<div class="col-md-9">
    <div class="col-md-8" style="float: right; margin-top: 50px;">
    <form class="row g-3 border">
        <div class="col-md-6">
          <label class="form-label">Username</label>
          <input type="text" class="form-control"  value="Mark" required>
        </div>
        <br>
        <div class="col-md-6">
          <label  class="form-label">Password</label>
          <input type="password" class="form-control"  value="Otto" required>
        </div>
        <br>
        <div class="col-12">
            <button class="btn btn-success" type="submit">Login</button>
        </div>
    </form>
    <br><br>
     <form class="row g-3 border">
            <div class="col-md-12">
                <label  class="form-label">Firstname</label>
                <input type="text" class="form-control"  value="Mark" required>
              </div>
              <br>
              <div class="col-md-12">
                <label  class="form-label">Lastname</label>
                <input type="text" class="form-control"  value="Otto" required>
              </div>
              <br>
              <div class="col-md-12">
                <label class="form-label">Username</label>
                <div class="input-group">
                  <span class="input-group-text" >@</span>
                  <input type="text" class="form-control" aria-describedby="inputGroupPrepend2" required>
                </div>
              </div>
              <div class="col-md-12">
                <label  class="form-label">Password</label>
                <input type="password" class="form-control"  value="Otto" required>
              </div>
              <br>
              <div class="col-md-12">
                <label  class="form-label">Confirm Password</label>
                <input type="password" class="form-control"  value="Otto" required>
              </div>
              <br>
              <br>
              <div class="col-md-12">
                <label  class="form-label">City</label>
                <input type="text" class="form-control" required>
              </div>
              <br>
              <div class="col-md-12">
                <label for="validationDefault04" class="form-label">State</label>
                <select class="form-select" id="validationDefault04" required>
                  <option selected disabled value="">Choose...</option>
                  <option>...</option>
                </select>
              </div>
              <br>
              <div class="col-md-12">
                <label for="validationDefault05" class="form-label">Zip</label>
                <input type="text" class="form-control" id="validationDefault05" required>
              </div>
              <br>
              <div class="col-12">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
                  <label class="form-check-label" for="invalidCheck2">
                    Agree to terms and conditions
                  </label>
                </div>
              </div>
              <br>
              <div class="col-12">
                <button class="btn btn-primary" type="submit">Submit form</button>
              </div>
</form>
</div>
</div>
</div>


